body {
  margin: 0;
  padding: 0;
  background-color: #f46e36;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
  color: black;
}

h1 {
  font-size: 1.9rem;
}

h2 {
  font-size: 1.5rem;
}

p,
li {
  font-size: 1rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 70;
  width: 100%;
}

.topContainer {
  background-color: #f46e36;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  justify-content: space-around;
  padding: 25px;
  height: 100vh;
}
.topContainer h1 {
  font-size: 2.5rem;
}
.topContainer p {
  font-size: 1.4rem;
}

.topChildren {
  padding: 15px;
  max-width: 50%;
  font-size: 25px;
}

[data-inviewport=slide-in].isInViewport {
  -webkit-animation: slideIn 2s ease-in-out 0s 1 normal forwards;
          animation: slideIn 2s ease-in-out 0s 1 normal forwards;
}

[data-inviewport=fade-in].isInViewport {
  -webkit-animation: fadeIn 1s ease-in-out 0s 1 normal forwards;
          animation: fadeIn 1s ease-in-out 0s 1 normal forwards;
}

.navBar {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 35px;
}

.navLinks {
  text-decoration: none;
  color: white;
  font-size: 17px;
  padding: 25px;
}

.profilePic {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.projectsContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 25px;
  flex-wrap: wrap;
}

.projectsChildren {
  text-align: center;
  overflow: hidden;
  position: relative;
  margin: 25px;
}

.projectsPhotos {
  width: 250px;
  aspect-ratio: 1/1;
  border-radius: 5px;
}

.projectsHeader {
  text-align: center;
  color: black;
}

.projectLinks {
  text-decoration: none;
  color: white;
}

.viewBtns {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);
  width: auto;
  height: auto;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  color: black;
  font-size: 1rem;
  background-color: #f46e36;
  border: 2px black solid;
}

.viewContainer {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  justify-content: space-evenly;
  height: 75%;
  width: 100%;
  position: absolute;
  flex-direction: column;
}

.viewChildren {
  margin: 25px;
}

.projectsChildren:hover .viewBtns {
  display: block;
  -webkit-animation: fadeIn 1s ease-in-out 0s 1 normal forwards;
          animation: fadeIn 1s ease-in-out 0s 1 normal forwards;
}

.aboutHeader {
  text-align: center;
  color: black;
}

.summary {
  max-width: 500px;
}

.aboutContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  justify-content: space-around;
  padding: 25px;
  text-align: left;
}

.moreBtn {
  background-color: rgba(0, 0, 0, 0.3);
  width: auto;
  height: auto;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  color: black;
  font-size: 1rem;
  text-decoration: none;
  color: white;
  -webkit-animation: slideIn 2s ease-in-out 0s 1 normal forwards;
          animation: slideIn 2s ease-in-out 0s 1 normal forwards;
}

.techList {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.contactContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 15px;
  justify-content: center;
}

.footerContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 15px;
  justify-content: center;
}

.icons {
  padding: 5px;
  width: 50px;
}

#hamburger {
  display: none;
}

@media screen and (max-width: 960px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    font-size: calc(1em + 0.5vw);
  }
  .projectsContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 25px;
    flex-direction: column;
  }
  .projectsChildren h3 {
    color: white;
  }
  .projectsPhotos {
    max-width: 100%;
  }
  .topContainer {
    height: 100vh;
  }
  .topChildren {
    max-width: 100%;
  }
  .topChildren h1 {
    margin-bottom: 25px;
  }
  .viewBtns {
    background-color: rgba(0, 0, 0, 0.3);
    width: auto;
    height: auto;
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 1rem;
    z-index: 2;
    display: block;
    background-color: #f46e36;
  }
  .viewContainer {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    justify-content: space-evenly;
    height: 75%;
    width: 100%;
    position: absolute;
    flex-direction: column;
  }
  .viewChildren {
    margin: 25px;
  }
  .moreBtn {
    height: 50px;
  }
  .aboutHeader {
    width: 100%;
    padding: 15px;
  }
  .aboutContainer {
    flex-direction: column;
    text-align: left;
    flex-flow: column-reverse;
  }
  .techList {
    justify-content: space-around;
    padding: 15px;
  }
  .profilePic {
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }
  .navBar {
    display: none;
  }
  .navBarToggle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    background-color: transparent;
  }
  .header {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .navLinks {
    padding: 15px;
  }
  #hamburger {
    display: block;
    padding: 15px;
  }
  #hamburger .line-1-transition {
    top: 12px;
    transform: rotate(45deg);
    transition: top 0.2s ease, transform 0.2s ease 0.3s;
  }
  #hamburger .line-2-transition {
    transform: scale(0);
  }
  #hamburger .line-3-transition {
    bottom: 12px;
    transform: rotate(135deg);
    transition: bottom 0.2s ease, transform 0.2s ease 0.3s;
  }
  .line {
    width: 30px;
    height: 2px;
    position: relative;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
  }
  .line-1 {
    top: 0;
    margin-bottom: 10px;
    transition: top 0.2s ease 0.3s, transform 0.2s ease;
  }
  .line-2 {
    transition: all ease 0.2s;
    transform: scale(1);
  }
  .line-3 {
    margin-top: 10px;
    bottom: 0;
    transition: bottom 0.2s ease 0.3s, transform 0.2s ease;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}/*# sourceMappingURL=app.css.map */